* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 20, 20);
}

.container {
    width: 100%;
    height: 68px;
    
    padding: 0 60px;
}

header .container {
    position: fixed;

    background-color: transparent;

    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo {
    width: 92.5px;
    height: 24.6px;
    cursor: pointer;
}

/** MENU **/
.menu {
    margin-left: 45px;
    justify-content: flex-start;
}

.menu a {
    text-decoration: none;
    color: lightgrey;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 530;        

    margin-right: 14px;    
}

.menu a:hover {
    color: rgb(169, 168, 168);
    transition: 0.5s;
}

/** MENU SECUNDÁRIO **/
.menu-secundario {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.menu-item {
    margin-right: 25px;
    color: white;
}

.menu-secundario .menu-item a {
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 530;
}

/** PRINCIPAL **/
.principal {
    background: linear-gradient(360deg,rgba(0,0,0,1),rgba(0,0,0,0.1) 25%), url('/img/capa-ohana.jpg');
    background-size: cover;
    height: 720px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.principal .container {
    width: 536px;
    height: 383px;
}

.principal .titulo {
    width: 492px;
    height: 196px;
}

.principal .descricao {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 520;

    color: white;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
        
    margin-top: 18px;
    margin-bottom: 18px;
}

/** BOTÕES **/
.botao {
    font-size: 18px;
    font-weight: bold;

    border: none;
    border-radius: 4px;

    padding: 13px 27px;
    margin-right: 5px;

    cursor: pointer;
    transition: .1s;
}

.botao i {
    margin-right: 7px;
}

#assistir {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}

#info {
    background-color: rgba(79, 76, 76, 0.9);
    color: white;
}

#assistir:hover {
    background-color: rgba(255, 255, 255, 0.75);
}

#info:hover {
    background-color: rgba(79, 76, 76, 0.75);
}

/** CAROUSEL **/
.box-filme {
    display: block;

    cursor: pointer;

    height: 100%;
    width: 100%;
        
    border-radius: 4px;
}